{% extends "base.html.twig" %}

{% block title 'Se connecter' %}

{% block body %}
	<div class="container mt-4">

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey | trans(error.messagedata, 'security') }}
            </div>
        {% endif %}

        <form action=" {{ path('login') }} " method="post">
            <div class="form-group ms-5 mt-3 me-5">
                <label for="username"> Nom d'utilisateur </label>
                <input type="text" id="username" name="_username" class="form-control">
            </div>

            <div class="form-group ms-5 mt-3 me-5">
                <label for="password"> Mot de passe </label>
                <input type="password" id="password" name="_password" class="form-control">
            </div>

            <button class="btn btn-outline-secondary ms-5 mt-3" type="submit"> Se connecter </button>
        </form>
    </div>
{% endblock %}
