{% extends "base.html.twig" %}

{% block title 'Agence Lorem Ipsum' %}

{% block body %}
	<div class="container-fluid py-5 text-center bg-light">
		<h1 class="fw-bold">Agence Lorem Ipsum</h1>
		<p class="fs-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora quia fugit rerum consequatur praesentium debitis expedita incidunt neque assumenda dolor.</p>
	</div>

	<div class="container">
		<h2> Les derniers biens </h2>
		<div class="row flex">
			{% for property in properties %}
				<div class="col-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
							<a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
							</h5>
							<p class="card-text">
								{{ property.city }} ({{ property.postalCode }})
							</p>
							<div class="text-primary fw-bold fs-2">
								{{ property.formattedPrice }} €
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
