{% extends "base.html.twig" %}

{% block title property.title %}

{% block body %}
	<div class="container mt-4">
		<div class="row">
            <div class="col-md-8">
            
            </div>
            <div class="col-md-4">
                <h1> {{ property.title }} </h1>
                <h2> {{ property.rooms }} pièces - {{ property.surface }} m² </h2>
                <div class="text-primary fw-bold fs-1">
                    {{ property.formattedPrice }} €
                </div>
                <a href="#" class="btn btn-outline-primary mt-2"> Contacter l'agence </a>
            </div>
        </div>

        <p> {{ property.description | nl2br }} </p>

        <div class="row mt-4">
            <div class="col-md-8">
                <h2> Caractéristiques </h2>
                <table class="table table-striped">
                    <tr>
                        <td> Surface habitable </td>
                        <td> {{ property.surface }} m² </td>
                    </tr>
                    <tr>
                        <td> Pièces </td>
                        <td> {{ property.rooms }} </td>
                    </tr>
                    <tr>
                        <td> Chambres </td>
                        <td> {{ property.bedrooms }} </td>
                    </tr>
                    <tr>
                        <td> Etage </td>
                        <td> {{ property.surface }} </td>
                    </tr>
                    <tr>
                        <td> Chauffage </td>
                        <td> {{ property.heatType }} </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-4">
                <h2> Spécificités </h2>
            </div>
        </div>

	</div>
{% endblock %}
